* {
    box-sizing: border-box;
}

@font-face {
    font-family: Unica;
    src: url('../assets/Unica77-Regular.otf');
}

@font-face {
    font-family: Serifiqo;
    src: url('../assets/Serifiqo\ 4F\ Free\ Capitals.otf');
}

body {
    font-family: Unica;
    background-color: rgb(202, 202, 202);
}

.container {

    font-family: Serifiqo;
}

.cover {
    height: 900px;
    max-height: 1000px;
    display: flex;
    width: 100%;
	position:relative;
}

.title-time {
    
    font-size: 30px;
    margin-top: 50px;
}


a {
    text-decoration: none;
    color:black;
    
}

a:hover {
    text-decoration: underline;
    cursor: pointer;

}

.list-items {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}



.cover-image {
    text-align: right;
    padding: 10px;
    position: absolute;
	right: 0px;
    
}

.cover-image img {
    text-align: right;
    width: 900px; 
    
    
}

.title-city {
    
    font-size: 290px;
    
}

.cover-title{
	position: absolute;
	bottom: 0px;
	right: 300px;
}



.country-code{
    display: inline;
}

.title-next {
    background-color: rgb(0, 0, 0);
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 70px;
    cursor: pointer;
}

.places {
    
    height: 100vh;
    max-height: 200vh;
    display: flex;
    
}

.list {
    flex-direction: column;
    width: 60%;
    color: rgb(0, 0, 0);
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.header {
    font-size: 100px;
    color: black;
}

.show-image {
    width: 60%;
    display: flex;
}

/* .hidden-image {
    display: none;
}

.show-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.show-button {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.button-text {
    background-color: aliceblue;
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 70px;
    cursor: pointer;
    font-size: 40px;
} */

.map {
    text-align:center;
    position:static;
    margin-bottom: 100px;
}


.buttons {
    /* font-size: 40px;
    text-align: left;
    margin: 60px; */
    margin-top: 200px;
    font-family: Serifiqo; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
}

.button-item {
    background-color: rgb(136, 136, 136);
    padding: 40px 40px 0px 40px;
    border-radius: 80px;
    font-size: 50px;
    margin: 20px;
    text-align: center;
    flex: 1;
}

.image111 {
text-align: left;
}

.image111 img{
    width: 700px;
    height: 500px;
    object-fit: cover;
    
}

.image222 {
    text-align: right;
    }
    
    .image222 img{
        width: 500px;
        height: 300px;
        object-fit: cover;
        
    }


    .image333 {
        text-align: left;
        }
        
        .image333 img{
            width: 300px;
            height: 200px;
            object-fit: cover;
            
        }

        row::after {
            content: "";
            clear: both;
            display: table;
            
          }

          .text {
            font-family: Serifiqo;
            font-size: 80px;
            color: rgb(0, 0, 0);
          }

          .text1 {
            font-family: Serifiqo;
            font-size: 60px;
            color: rgb(0, 0, 0);
          }

          .text2 {
            font-family: Serifiqo;
            font-size: 40px;
            color: rgb(0, 0, 0);
          }
